*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #263238;
}
body{
    
    background-repeat: no-repeat;
    text-align: center;
}
.container{
    
}
.primary{
    color: #4CAF4F !important;
}
/* Nav */
nav {
    border-bottom: 2px solid white;
    box-shadow: 10px 10px 30px gray;
    padding: 20px 0;
}
nav > ul{
    display: flex;
    color: white;
    margin: 0 80px;
    /* padding: 10px 0; */
}
li{
    text-decoration: none;
    list-style: none;
    padding: 10px;

}
li a {
    text-decoration: none;
    font-weight: bold;
    color: #263238;
}
.homeTab{
    /* width: 1000px; */
   max-width:  100%;
   /* padding: 20px; */
   background-color: #455a6419;
}
.homeTabInner{
    padding: 50px 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   /* flex-direction: row; */
   flex-wrap: wrap;
    
}
.hl{
    width: 50%;
    text-align: left;
    padding: 10px;
    margin: 0 10px;
    justify-content: center;
}
h3{
    font-weight: 900px;
    font-size: 60px;
}
p{
    margin: 30px 0;
}
.hr{
    justify-content: center;
    width: 40%;
    margin: 10px;
    align-items: center;
}
button{
    background-color: #4CAF4F;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 3px;
}
button a{
    text-decoration: none;
    background-color: #4CAF4F;
    color: white;

}
.hr img{
    /* min-width: 10%;
    padding: 10px;
    justify-content: center; */
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}
.form-section{
    display: flex;
    justify-content: center;
}
.login{
    display: flex;
    justify-content: center;
    text-align: left;
    width: 60%;
    padding: 60px 0;
}
.form{
    width: 100%;
}

.space{
    margin: 20px 0;
}
.space2{
    padding: 50px 20px;
    /* border-bottom: 2px solid gray; */
}
legend{
    font-weight: bold;
    color: #4CAF4F;
}
fieldset{
    /* width: 50%; */
    border: 2px solid #4CAF4F;
}
input{
    border: 2px solid #4CAF4F;
    padding: 10px;
    border-radius: 3px;
    width: 95%;
}
/* clients */
.reviews{
    padding: 30px 20px;
}
.rewiew{
    width: 25%;
    margin: 30px 20px;
    padding: 20px ;
    border: 2px soid gray;
    box-shadow: 10px 10px 30px gray;
}
.clientReviews{
    display: flex;
    justify-content: space-around;
    padding: 60px 0;
    flex-wrap: wrap;
}


/* footer */
.footer{
    background-color: #455a6419;
    padding: 40px 0;
}
h3{
    color: #4CAF4F;
}
.footerNav{
    display: flex;
    justify-content: center;
    color: white;
    margin: 0 80px;
    padding: 10px 0;
}

@media screen and (max-width:600px) {
    .homeTabInner{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .hl{
        width: 100%;
    }
    .hr{
        width: 50%;
        display: grid;
        justify-content: center;
    }
    .clientReviews{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 10px;
    }
    .rewiew{
        width: 90%;
        border-radius: 3px;
    }
}
@media screen and (width:768px) {
    .homeTabInner{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .hl{
        width: 100%;
    }
    .hr{
        padding: 20px 0;
        width: 50%;
    }
    .clientReviews{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        
    }
    
    .rewiew{
        width: 70%;
        border-radius: 3px;
        padding: 10px;
        margin-top: 10px;
    }
}